@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,600;1,100&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

body{
    background: rgb(119,2,97);
    background: linear-gradient(90deg, rgba(119,2,97,0.9178046218487395) 0%, rgba(0,2,34,1) 100%);
}

.container{
    width: 100%;
    min-height: 400px;
    /* background: rgb(119,2,97);
    background: linear-gradient(90deg, rgba(119,2,97,0.9178046218487395) 0%, rgba(0,2,34,1) 100%); */
    color: white;
}

.navegacion{
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.24);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 1px white;
}

.logo{
    font-size: 1.5em;
    font-weight: 600;
}

.contenido{
    margin: 3em auto 0;
    width: 100%;
}

.info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.title{
    font-weight: 300;
    text-shadow: -1px 5px 10px #000000;
}

.threed{
    width: 100%;
    height: 20em;
    margin: 2em auto;
}

.paragraph{
    width: 90%;
    margin: 3em auto;
}

.btnMain{
    padding: 1em 4em 1em;
    border: none;
    border-radius: 1em;
    color: #ffffff;
    background: rgb(99,21,102);
    background: radial-gradient(circle, rgba(99,21,102,1) 0%, rgba(175,204,204,1) 100%);
    
}

.sectionGeneral{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em 0;
    /* background: rgb(119,2,97);
    background: linear-gradient(90deg, rgba(119,2,97,0.9178046218487395) 0%, rgba(0,2,34,1) 100%); */
    
}

.secDos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em 0;
    flex-direction: column;
    /* background: rgb(119,2,97);
    background: linear-gradient(90deg, rgba(119,2,97,0.9178046218487395) 0%, rgba(0,2,34,1) 100%); */
    background: rgb(99,21,102);
    background: radial-gradient(circle, rgba(99,21,102,1) 0%, rgba(175,204,204,1) 100%);
}

.card{
    margin: 2em 0;
    width: 20em;
    height: 20em;
    background-color: crimson;
    border-radius: 2em;
    overflow: hidden;
    position: relative;
}

.card div{
    position: absolute;
    backface-visibility: hidden;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    transition: .5s;
}

.imageCard{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.front{
    
    transform: perspective(600px)rotateX(0deg);
}

.back{
    padding: 3em 0;
    transform: perspective(600px)rotateY(180deg);
}

.back a{
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    padding: 1em 4em;
    border-radius: 0.5em;
}

.paragraphCard{
    text-align: center;
    margin: 3em;
}


.card:hover .front{
    transform: perspective(600px)rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px)rotateY(360deg);
}


.grid{
    width: 100%;
    max-width: 60em;
    display: grid;
    grid-row: repeat(1fr, 5);
    color: #ffffff;

}

.grid .row{
    background: rgb(99,21,102);
    background: radial-gradient(circle, rgba(99,21,102,1) 0%, rgba(175,204,204,1) 100%);
    position: relative;
    text-align: center;
    width: 100%;
}

.row img{
    width: 100%;
    max-width: 25em;
    max-height: 40em;
    object-fit: cover;
}

.row .titleList{
    margin: 1em 0 1em;
}

.contentList p{
    margin: 2em;
}

.row .contentList{
    position: absolute;
    display: none;
}

.row:hover .contentList{
    position: relative;
    display: block;
}


footer{
    padding: 4em 1em 4em;
    background-color: rgba(255, 255, 255, 0.24);
    display: flex;
    justify-content: center;
}

.footerGrid{
    width: 100%;
    text-align: center;
    display: grid;
    row-gap: 5em;
}

.footerGrid .celda{
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

.celda h1{
    font-size: 1.5em;
    border-radius: 10px;
    box-shadow: 10px 10px 30px 0 #000000;
}

.celda a{
    display: block;
    width: max-content;
    margin: 1em auto 1em;
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    transition: .5s;
    word-wrap: break-word;
}

.celda a:hover{
    border-bottom: 1px solid white;
}

@media screen and (min-width: 800px) {
    
    .container{
        height: 100vh;
        max-height: 50em;
    }

    .contenido{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .info{
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 30em;
    }

    .info .textMain,.threed{
        height: 100%;
        width: 50%;
    }

    .textMain{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .title{
        font-weight: 300;
        font-size: 4em;
    }
    
    .paragraph{
        width: 90%;
        margin: 0 auto;
        padding: 0 2em;
        font-size: 1.5em;
    }

    .secDos{
        flex-direction: row;
        justify-content: space-around;
        min-height: 35em;
    }

    .row:hover .contentList{
        display: flex;
        align-items: center;
    }

    .contentList p{
        font-size: 1.5em;
    }

    .footerGrid{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1em;
    }
    
  }




/* .formulario form{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: .5s;
}



.register{
    transform: perspective(600px) rotateY(0deg);
}

.login{
    transform: perspective(600px) rotateY(180deg);
} */









/* .formulario:hover .register{
    transform: perspective(600px)rotateY(180deg);
}

.formulario:hover .login{
    transform: perspective(600px)rotateY(360deg);
} */



/* prueba */
/* 
.card div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s;
}

.card .front {
    background: #288ca0;
    transform: perspective(500px) rotateY(0deg);
}

.card .back {
    background: #682fc4;
    transform: perspective(500px) rotateY(180deg);
}


.card:hover .front {
   
    transform: perspective(500px) rotateY(180deg);
}

.card:hover .back {
   
    transform: perspective(500px) rotateY(360deg);
} */
